/* * {
  background-color: black;
  text-decoration: none;
  color: darkgray;
} */

/* *:hover {
  color: lightgray;
} */

* {
  text-decoration: none;
  color: white;
}

.map {
  min-width: 42vw;
}

.background {
  background-color: black;
  background-image: url("http://wallpaperset.com/w/full/1/4/9/489887.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1020px;
}

.countryList {
  /* background-color: #; */
  color: white;
  height: 45%;
  width: fit-content;
  float: left;
}

.countryImage {
  max-width: 300px;
  max-height: 300px;
}

.card {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardOne {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.list {
  text-decoration: none!important;
  border: 2px solid;
  height: 700px;
  margin-left: 150px;
  margin-top: 50px;
  justify-content: center;
}

.listOne {
  text-decoration: none;
  font-size: 18px;
  margin: 50px;
  justify-content: center;
  float: left;
}

.countriesLabel {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navBar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.navBar ul {
  background-color: black;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navBar a, .siteTitle {
  color:white;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
}

.logo {
  height: 60px;
  width: 60px;
}