.map {
  border: solid 3px;
  height: 45%;
  width: 45%;
  float: left;
}

.countryList {
  height: 45%;
  width: fit-content;
  float: left;
}

.countryImage {
  max-width: 300px;
  max-height: 300px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardOne {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.list {
  text-decoration: none!important;
}

.navBar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.navBar ul {
  background-color: #333;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navBar a {
  color: rgb(255, 224, 47);
  -webkit-text-stroke: 1.5px rgb(36, 36, 211);
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  text-decoration: none;
}

.logo {
  height: 80px;
  width: 120px;
}