.map {
  border: solid 3px;
  height: 45%;
  width: 45%;
  float: left;
}

.countryList {
  height: 45%;
  width: fit-content;
  float: left;
}

.countryImage {
  max-width: 300px;
  max-height: 300px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardOne {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.list {
  text-decoration: none;
}